/******************
 *    Algemeen    *
******************/

html, body {margin: 0; padding: 0; font-family: 'Lato', sans-serif; color: black; } /*Raleway*/
body a:hover { text-decoration: none;}
body .container { padding-bottom: 50px; }

h1, h2, h3, h4, h5, h6, p { font-weight: normal;}

*[class^='col-'] { padding-left: 0; padding-right: 0;}
.hide { display: none !important; }

#main-container { height: 100%; position: relative}

.ajax-modal { display: none; position: fixed; z-index: 1000; top: 0; left: 0; height: 100%; width: 100%; background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat; }
body.loading { overflow: hidden; }
body.loading .ajax-modal { display: block; }

/*****************
 *    Helpers    *
*****************/
.blue { color: #81CFE0}
.green { color: #27AE60}
.grey { background: #ECF0F1;}
.five-fans { width: 20%;}
.fan-off { font-size: 25px; text-align: center; margin-top: 150px; }

/*************
 *  Includes *
 *************/
.fan-count { border: 20px solid grey; }
.fan-order { width: 15px; height: 15px; background: white; float: left; margin-right: 10px; margin-top: -5px; }
.colored { background: #444;}

.message-popup { margin-top: 100px !important; width: 60%; display: none;}
.message-popup .message-options li { width: 90%; margin-top: 10px;}
.message-popup .message-options img { margin: 20px 20px 0 0; width: 32px; height: 32px;}
.message-popup .message-options .media-body { padding-top: 10px; text-align: left;}
.message-popup .message-options .media-body h5 { font-size: 20px; border-bottom: 1px solid white; padding-bottom: 3px; width: 50%; }
.message-popup .message-options .media-body p { font-size: 14px; margin-top: -3px; margin-bottom: 5px;}

.notification-alert { padding: 25px;}

.modal-content { padding: 30px;}
.modal-header .media-object { font-size: 25px; margin-top: 7px;}
.modal-body .collapse-group { font-size: 16px;}
.modal-body .collapse-group table { width: 100%; font-size: 14px;}
.modal-body .collapse-group a:hover { color: #48c9b0}
.modal-body .message-question { width: 90%; font-size: 20px;}
.modal-footer ul { list-style: none; }



/*********************
 *  Header en Footer *
 *********************/

header { width: 100%; height: 75px; background: #f8f8f8; margin-bottom: 50px; border-bottom: 5px solid #27AE60; font-family: Lato, sans-serif; }
header .back-button { float: left; width: 30px; padding-top: 25px; }
header .back-button img { height: 18px; }
header #logo h1 { font-variant: small-caps; color: #777; font-size: 22px; margin-top: 25px;}

header #logout { float: right; margin-top: 20px;}
header #logout .dropdown-toggle { background: none; color: black;}
header #logout button { color: black; padding: 0;}

footer { width: 100%; height: 50px; background: #f8f8f8; position: fixed; bottom: 0; margin-top: 50px; border-top: 5px solid #18933C }
footer p { color: #777; font-variant: small-caps; font-size: 15px; margin-top: 10px;}



/*******************
 *    Homepage     *
 *******************/
.dataset-blocks h1 { font-size: 36px;}
.dataset-block { width: 360px; height: 180px; background: lightgrey; margin: 20px 20px 20px 20px; transition: background 0.5s ease; overflow: hidden}
.dataset-block a { text-decoration: none; color: black}
.dataset-block-image { margin: 60px 0 0 -60px;}
.dataset-block-image img { width: 175px; height: 175px; opacity: 0.3; transition: height 0.5s ease, width 0.5s ease;}
.dataset-block-name { padding-top: 55px;}
.dataset-block-name h3 { margin-left: 40px; transition: font-size 0.5s ease; font-size: 24px;}

.dataset-block:hover { cursor: pointer; background: #e2e2e2 }
.dataset-block:hover .dataset-block-image img { width: 180px; height: 180px; }
.dataset-block:hover h3 { font-size: 26px; }

/************************************
 *    Ventilator - Tunnelbuizen     *
 ************************************/
.tunnel-tube { height: 200px; background: lightgray; margin: 0 auto 50px; }
.tunnel-tube h1{ text-align: center; font-size: 30px; float:left; width: 100%; margin-top: -120px;}
.tunnel-tube-block-left { width: 150px; background: darkgrey; height: 200px; float: left; }
.tunnel-tube-block-right { width: 150px; background: darkgrey; height: 200px; margin-top: -200px; float: right; }
.tunnel-tube-block-left a, .tunnel-tube-block-right a { display: block; height: 200px; width: 150px; }
.tunnel-tube .tunnel-tube-block-left h3 { font-size: 24px; height: 200px; padding: 90px 0 0 15px; margin: 0;}
.tunnel-tube .tunnel-tube-block-right h3 { font-size: 24px; height: 200px; padding: 90px 0 0 25px; margin: 0;}
.tunnel-tube a { text-decoration: none; color: black}
.tunnel-tube p { font-size: 16px; text-align: center; line-height: 0;}


/************************************
 *    Ventilator - Detailpagina     *
 ************************************/
#segment { margin-bottom: 70px;}
#segment h1, #segment h3 {  text-align: center; font-weight: 100; }
#segment h1 { font-size: 50px; }
#segment h3 { font-size: 24px; }

.fan { margin-right: 1px;}
/*.fan-information-basic { height: 410px; background: linear-gradient(to bottom right ,#ECF0F1, #F6F8F8) }*/
/*.fan-information-basic:hover { cursor: pointer; background: rgba(0,0,0,0.06)}*/
.fan-information-basic { height: 410px; background: #EEEEEE;} /* ECF0F1 */
.fan-information-basic:hover { cursor: pointer; background: #E7E7E7;} /* E2E8EA */
.fan-information-basic h2 { text-align: center; font-size: 20px; font-variant: small-caps;}

.fan h1, .fan p { text-align: center;}

.fan p { font-size: 20px}
.fan h1.fan-name { font-variant: small-caps; font-size: 26px; padding-top: 30px;}
.fan p.fan-status { padding-top: 12px; font-size: 36px; line-height: 0; margin-bottom: 30px;}
.fan p.fan-time-on { padding-top: 15px; font-size: 30px; line-height: 0;}

.fan .arrow-squiggly-up { transform: rotate(90deg);display: inline-block; font-size: 45px; margin: -10px -5px; }
.fan .arrow-squiggly-down { transform: rotate(270deg); display: inline-block; font-size: 45px; margin: -10px -5px; }
.fan .arrow-straight-up { transform: rotate(0deg); display: inline-block; font-size: 35px; margin: -5px 0; }
.fan .arrow-straight-down { transform: rotate(180deg);display: inline-block; font-size: 35px; margin: -5px 0; }

.fan hr { border-top: 1px solid lightgrey; margin: 10px 20px 0 20px;}
.fan hr:nth-child(3) { display: none }

.fan-information-technical { background: #f7f7f7; height: 730px; width: 100%; padding: 30px 50px 50px 50px; display: none; float:left; clear:both;}
.fan-information-technical h1 { text-align: center; font-variant: small-caps; font-size: 36px;}

.table-technical-information-left { margin-top: 30px; }
.table-technical-information-left tr th { font-size: 17px; vertical-align: middle !important; }
.table-technical-information-left tr td { font-size: 15px; text-align: right; vertical-align: middle !important; }
.fa-info:hover { cursor: pointer; }
.popover { max-width: 100%; }
.popover.right { margin-left: 20px; }
.popover-title { padding: 15px 20px; }
.popover-content { padding: 15px 20px; }
.table-technical-information-left tr th, .table-technical-information-left tr td { padding: 20px !important; }
.table-technical-information-left tr:first-child th, .table-technical-information-left tr:first-child td { border-top: 0 solid white }

.btn-compare { color: black; width: 200px; background: #ECF0F1; border-radius: 0; -webkit-transform: translateZ(0); transform: translateZ(0); }
.btn-compare:hover { background: #E7E7E7; color: black;}
.btn-compare:before { content: ""; position: absolute; z-index: -1;  left: 0; right: 100%; bottom: 0; background: #27AE60; height: 4px; -webkit-transition-property: right; transition-property: right; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.btn-compare:hover:before, .btn-compare:focus:before, .btn-compare:active:before {; right: 0;}
.btn-compare p { margin:0; font-size: 16px; }

.flot-y-axis .tickLabel { font-size: 12px; left: 30px !important;}
.flot-x-axis .tickLabel { font-size: 12px;}
.yaxisLabel, .xaxisLabel { font-size: 16px;}
.yaxisLabel { left: -20px !important;}

.filter-screen-wrapper { position: absolute; margin-left: 45px;}
.btn-filter-screen { background: #27AE60; border-radius: 0; width: 260px; }
.btn-filter-screen:hover { background: #2ECC71; }
.filter-screen { width: 260px; display: none; border-radius: 0; margin-left: -152px; z-index: 2}

#technical-graph { width: 100%; height: 477px; margin-top: 50px;}
#fan-graph {height: 610px; float:left; width: 92%;}

.fan .fan-blowing-direction { text-align: center;}
.fan-blowing-direction i { font-size: 25px;}
.fan-blowing-direction p { margin-top: 10px;}

#fan-graph-container { margin-top: 100px; clear:both; }
#fan-graph-container h1 { font-size: 28px; font-weight: lighter; float: left; margin-top: 10px; margin-right: 30px;}
#fan-graph-container hr { margin-bottom: 50px;}

#fan-graph-legend { clear: both; margin-top: 20px; padding-left: 15px; background: #f7f7f7; float: right; width: 155px; height: 452px;}

#fan-graph-legend .legendColorBox > div { border: none !important; margin-top: 20px;}
#fan-graph-legend .legendColorBox > div div { border-width: 8px !important;}
#fan-graph-legend .legendLabel { text-decoration: none; padding: 25px 20px 0 5px; font-size: 13px;}
#fan-graph-legend .legendLabel:nth-child(1) { padding-left: 20px;}
#fan-graph-legend .legendLabel a { color: black;}
#fan-graph-legend .legendLabel:hover a { color: darkgrey;}

.fan-power-usage, .fan-technical-life-expectancy, .fan-theoretical-life-expectancy { line-height: 1; padding-top: 11px; padding-bottom: 11px; margin: 0;}
.fan-power-usage span, .fan-technical-life-expectancy span, .fan-theoretical-life-expectancy span { margin-right: 3px}

.fa-info-circle { float: right; margin-top: 15px;}
.fa-info-circle:first-of-type { margin-top: 5px;}
.fa-info-circle:hover { cursor: pointer;}


#compare-fans-button { background: lightgrey; height: 50px; clear: both; text-align: center; padding-top: 15px; border: 1px solid darkgrey; cursor: pointer;}
#compare-fans-button:hover { background: darkgrey}
#compare-fans { display: none;}
#compare-fans h2, #limits-table-wrapper h2 { font-size: 36px; font-weight: lighter; border-bottom: 1px solid #eee; padding-bottom: 9px; margin: 20px;}

#s2id_fan-to-compare-one, #s2id_fan-to-compare-two { border: 2px solid #bdc3c7; }
.select2-chosen { color: black;}
.select2-drop .select2-highlighted > .select2-result-label { background: darkgrey;}

#datetimepicker1 input, #datetimepicker2 input { color: black; }

#graph-comparison { margin-left: 20px;width: 500px; height: 385px; display: none;}
.table-compare { margin-top: 48px; margin-left: -50px; font-size: 14px; display: none;}
.table-compare thead tr { background: #eee; }
.table-compare tr td:nth-child(3) { border-right: 2px solid #ddd}
.table-compare tr th:nth-child(3) { border-right: 2px solid #ddd}

.table-compare tr th:nth-child(2) { background: #83be3e; }
.table-compare tr th:nth-child(3) { background: #c4e0a3; }

#limits-table { margin: 20px;}
#limits-table-wrapper { display: none; }
#limits-table-wrapper h4 { font-size: 18px; margin: -10px 0 50px 20px; }

.fancybox-skin { background: white;}
.fancybox-inner { min-height: 650px; width: 1170px !important;}
.fancybox-wrap { width: 1200px !important; }

#compare-inputs, #limits-table { margin-top: 40px;}
#compare-chosen-button { margin-top: 10px; width: 175px !important;}

.warning-placeholder { font-size: 15px;}

#example, #example_info, #example_length, #example_paginate a { font-size: 15px;}

ul.pagination { background: none;}
ul.pagination li { padding: 0 !important; border:none !important;}
ul.pagination li a { color: black !important; background: none !important;}
ul.pagination li:hover a { color: #BDC3C7 !important;}
ul.pagination li.disabled:hover a { color: black !important; }
ul.pagination li:active a { color: #BDC3C7 !important; background: white !important;  }

/**************************
 *     Media queries      *
 **************************/

/*iPad -- Landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

    /* Header */
    header #logo h1 { margin-left: 25px; }
    header #logout { margin-top: -5px;}
    .message-popup { width: 85%;}

    /* Technical details */
    .table-technical-information-left tr th, .table-technical-information-left tr td { font-size: 20px;}
    .fan-information-technical { height: 1270px;}
    #technical-graph { width: 100%; margin-top: 100px;}
    .btn-filter-screen { margin: 125px 0 20px 161px}
    .filter-screen-wrapper { margin-top: -175px; margin-left: 445px;}
    .filter-screen { margin: -20px 0 0 161px; }

    /* Main graph */
    #fan-graph {width: 80%;}
    #fan-graph-legend { width: 155px; clear: none;}

    /* Compare data */
    .fancybox-overlay { margin-top: -200px; }
    .fancybox-inner { min-height: 0 !important; width: auto !important;}
    .fancybox-wrap { width: 95% !important; left: 2.5% !important;}

    #compare-fans-button { width: 85%;}
    #compare-chosen-button { width: 200px; }

    #graph-comparison { width: auto; margin-left: 25px !important;}
    .table-compare { margin-top: 8px !important; margin-left: 0 !important; }

}

/*iPad -- Portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    .container { padding: 0 25px 0 25px;}

    /* Header */
    header #logo h1 { margin-left: 25px; }
    header #logout { margin-top: -5px;}
    .message-popup { width: 85%;}

    /* Fan block */
    .fan-information-basic { height: 390px;}
    .fan-information-basic h1.fan-name { font-size: 20px;}
    .fan-information-basic h2 { margin-top: 20px;}
    .fan .arrow-squiggly-down { margin-bottom: -5px; font-size: 30px;}
    .fan-blowing-direction p.arrow-straight-down { margin-top: 0; height: 55px;}
    .fan-blowing-direction:last-child { margin-top: 20px;}
    .expand-fan-button { margin-right: 15px; margin-top: -10px !important;}

    /* Technical details */
    .fan-information-technical { padding: 50px 20px 50px 20px; height: 1180px;}
    .fan-information-technical h1 { padding-bottom: 25px;}
    .fan-technical-keys, .fan-technical-values { font-size: 15px;}

    /* Technical graph */
    #technical-graph { width: 100%; margin-top: 100px;}
    #technical-graph.fan-off { font-size: 18px;}
    #technical-graph .axisLabels { display: none;}
    .btn-filter-screen { margin: 125px 0 20px 79px; }
    .filter-screen-wrapper { margin-top: -175px; margin-left: 345px;}
    .filter-screen { margin: -20px 0 0 79px; }

    /* Main graph */
    #compare-fans-button { width: 85%;}
    #fan-graph {width: 75%;}
    #fan-graph-legend { clear: none;}

    /* Compare data */
    .fancybox-overlay { margin-top: -200px; }
    .fancybox-inner { min-height: 0 !important; width: auto !important;}
    .fancybox-wrap { width: 95% !important; left: 2.5% !important;}

    #graph-comparison { width: auto; margin-left: 0;}
    .table-compare { margin-top: 20px; margin-left: 0; }






}

/*iPhone - Landscape*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px)
and (orientation: landscape) {

    .login-screen .login-icon { left: 150px !important; }
    .login-screen .login-form { width: 350px !important; margin-left: 0 !important;}

    /* Notification */
    .notification-alert { width: 90%; margin: 0 auto;}
    .notification-alert .message-title { font-size: 20px;}

    /* Popup */
    .message-popup { width: 90%; margin: 0 auto;}
    .message-popup .message-title { font-size: 20px;}
    .message-popup .message-question { width: 100%; font-size: 13px;}

    /* Header */
    header { margin-bottom: 10px; }
    header #logo h1 { margin: 25px 0 0 25px; font-size: 17px; }
    header #logout { margin-top: -10px;}
    header .dropdown-menu { min-width: 160px;}
    .message-popup { width: 85%;}

    /* Homepage */
    .dataset-blocks .dataset-block { width: 250px; height: 120px; margin-top: 0;}
    .dataset-blocks .dataset-block-name { padding-top: 25px; }
    .dataset-blocks .dataset-block-image { margin: 50px 0 0 -50px; }
    .dataset-blocks .dataset-block-image img { width: 145px; height: 145px; }
    .dataset-blocks h1 { margin-left: 20px; font-size: 28px;}
    .dataset-blocks .dataset-block-name h3 { font-size: 20px; margin-left: 20px;}
    .dataset-blocks hr { width: 90%; }

    /* Tunnel tubes */
    .tunnel-tube { margin: 0 auto 20px; height: 120px; }
    .tunnel-tube h1 { padding-top: 50px; font-size: 24px; }
    .tunnel-tube-block-left { height: 120px; }
    .tunnel-tube-block-right { height: 120px; margin-top: -120px;}
    .tunnel-tube .tunnel-tube-block-left a, .tunnel-tube .tunnel-tube-block-right a{ height: 120px; width: 150px; float: left;}
    .tunnel-tube .tunnel-tube-block-left h3 { font-size: 20px; height: 120px; margin: 55px 0 0 25px; }
    .tunnel-tube .tunnel-tube-block-right h3 { font-size: 20px; height: 120px; margin: 55px 0 0 35px; }

    /* Fan blocks */
    #segment { margin-bottom: 30px; }
    #segment h1 { font-size: 30px }
    #segment hr { width: 90%; }
    #segment h3 { font-size: 18px; margin-top: 0; }
    .fan h1.fan-name { font-size: 14px;}
    .fan h2.fan-status-heading { margin-top: 15px;}
    .fan-information-basic { height: 300px; }
    .fan .fan-information-basic h2 { padding-top: 0;}
    .fan .fan-information-basic h2.fan-status-heading { padding-top: 0; font-size: 15px; margin-bottom: 5px;}
    .fan .fan-information-basic h2.fan-direction-heading { font-size: 12px; margin-top: 20px; }
    .fan p.fan-status { font-size: 25px; margin-bottom: 20px;}

    .fan .arrow-squiggly-up:not(:nth-child(3)),
    .fan .arrow-squiggly-down:not(:nth-child(3)),
    .fan .arrow-straight-up:not(:nth-child(3)),
    .fan .arrow-straight-down:not(:nth-child(3)) { display: none;}
    .fan .arrow-squiggly-down { font-size: 23px; width: 20px; margin: -10px auto;}
    .fan .arrow-squiggly-up { font-size: 35px; margin: -10px auto; width: 80px;}

    .fan .fan-blowing-direction p:last-child { font-size: 10px; margin-top: 0;}
    .fan .fan-information-basic .expand-fan-button { margin: 10px auto !important; font-size: 15px !important; width: 15px !important; float: none !important;}

    /* Technical details */
    .fan-information-technical { height: 1070px; padding: 0}
    .fan-information-technical h1 { font-size: 25px; margin: 30px 0 20px 0; }
    .fan-information-technical-details { padding: 20px 50px 50px 50px;}
    .fan-technical-keys p { margin-bottom: 35px; font-size: 14px;}
    .fan-technical-values p { margin-bottom: 30px; font-size: 14px; }
    .fan-power-usage p:first-child, .fan-theoretical-life-expectancy p:first-child{ font-size: 11px;}
    .fan-power-usage p:last-child, .fan-theoretical-life-expectancy p:last-child { font-size: 16px;}

    /* Technical graph */
    /*#technical-graph { width: 90%; height: 350px; margin: 70px 50px 0 50px;}*/
    .btn-filter-screen { margin: 0 0 0 250px; font-size: 13px;}
    .filter-screen { margin: 0 0 0 250px;}

    /* Main graph */
    #fan-graph-container { top: 20px; }
    #fan-graph-container h1 { font-size: 20px; }
    .btn-compare p { font-size: 12px; }
    #fan-graph { height: 350px; width: 100%;}
    #fan-graph-legend { margin-bottom: 20px; float: none; width: 100%; height: auto; margin-top: 15px; }
    #fan-graph-legend .legendLabel { padding: 0; }
    #fan-graph-legend .legendLabel a { font-size: 12px;}
    #fan-graph-legend tr { float: left; width: 50%; padding-bottom: 10px !important; margin-top: 15px !important; }
    #fan-graph-legend tr:nth-child(1) { margin-top: 20px; }
    #fan-graph-legend tr:not(:nth-child(1)) { padding-bottom: 20px; margin-top: 25px;}
    #fan-graph-legend .legendColorBox > div { margin-top: 0; padding-right: 10px !important; }
    #fan-graph-legend .xaxisLabel { font-size: 12px; }


    /* Compare data */
    .fancybox-wrap { width: 80% !important; left: 10% !important;}
    .fancybox-inner { width: 100% !important;}
    #compare-inputs label { width: 100%; }
    #compare-fans { margin-top: 30px; margin-left: 0;}
    #compare-fans h2 { font-size: 26px;}
    #graph-comparison { margin-left: 0;}
    #graph-comparison .yaxisLabel { left: 0 !important;}
    .table-compare { margin-top: 30px; margin-left: 0;}




}

/*iPhone - Portrait*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 640px)
and (orientation: portrait) {

    .login-screen .login-icon { left: 150px !important; }
    .login-screen .login-form { width: 300px !important; margin-left: 0 !important;}

    /* Header */
    header { margin-bottom: 20px; }
    header #logo h1 { margin: 20px 0 0 25px; font-size: 17px; }
    header #logout { margin-top: -5px;}
    header .dropdown-menu { min-width: 160px;}
    .message-popup { width: 85%;}

    /* Homepage */
    .dataset-blocks h1 { margin-left: 20px; font-size: 28px;}
    .dataset-blocks hr { width: 90%; }
    .dataset-blocks .dataset-block { height: 150px; width: 280px;}
    .dataset-blocks .dataset-block-image { margin: 70px 0 0 -50px; }
    .dataset-block-image img { width: 145px; height: 145px; }
    .dataset-block-name { padding-top: 40px; }
    .dataset-block-name h3 { font-size: 20px; margin-left: 20px; }

    /* Tunnel tubes */
    .tunnel-tube { height: 200px; margin: 50px 0 0 0; background: none;}
    .tunnel-tube h1 { font-size: 30px; float: left; margin-top: -170px; }
    .tunnel-tube-block-left { width: 159px; height: 120px; float: left; }
    .tunnel-tube-block-right  { width: 159px; height: 120px; margin-top: -120px; float: right;}
    .tunnel-tube .tunnel-tube-block-left a, .tunnel-tube .tunnel-tube-block-right a{ height: 120px; width: 159px; float: left;}
    .tunnel-tube .tunnel-tube-block-left h3 { font-size: 18px; height: 200px; margin: 50px 0 0 35px; }
    .tunnel-tube .tunnel-tube-block-right h3 { font-size: 18px; height: 200px; margin: 50px 0 0 45px; }

    #segment { margin-bottom: 30px; }
    #segment h1 { font-size: 30px }
    #segment hr { width: 90%; }
    #segment h3 { font-size: 18px; margin-top: 0; }
    .fan h1.fan-name { font-size: 12px; padding-top: 20px; margin-bottom: 10px;}
    .fan h2.fan-status-heading { margin-top: 10px; font-size: 13px; margin-bottom: 0;}
    .fan-information-basic { height: 245px; }
    .fan .fan-information-basic h2 { padding-top: 0;}
    .fan .fan-information-basic h2.fan-status-heading { padding-top: 0; font-size: 15px; margin-bottom: 5px;}
    .fan .fan-information-basic h2.fan-direction-heading { font-size: 10px; margin-top: 5px; margin-bottom: 5px; }
    .fan p.fan-status { font-size: 16px; margin-bottom: 20px;}

    .fan .arrow-squiggly-up:not(:nth-child(3)),
    .fan .arrow-squiggly-down:not(:nth-child(3)),
    .fan .arrow-straight-up:not(:nth-child(3)),
    .fan .arrow-straight-down:not(:nth-child(3)) { display: none;}
    .fan .arrow-straight-down { font-size: 25px;}
    .fan .arrow-squiggly-down { font-size: 23px; width: 20px; margin: -10px auto;}
    .fan .arrow-squiggly-up { font-size: 30px; margin: -10px 0 -10px 5px;}

    .fan .fan-blowing-direction p:last-child { font-size: 10px; margin-top: 0;}
    .fan .fan-information-basic .expand-fan-button { margin: 10px auto !important; font-size: 15px !important; width: 15px !important; float: none !important;}

    /* Technical details */
    .fan-information-technical h1 { font-size: 26px;}
    .fan-information-technical { height: 800px; padding: 30px 0 50px 0;}
    .fan-information-technical-details { padding: 20px 30px 50px 30px; }
    .fan-technical-keys, .fan-technical-values { margin-bottom: 100px; }
    .fan-technical-keys p { font-size: 12px; margin-top: 10px;}
    .fan-technical-values p { margin-right: 0; font-size: 13px;}

    .btn-filter-screen { margin: -100px 0 0 30px;; font-size: 13px;}
    .filter-screen { margin: 0 0 0 -95px;}


    /* Technical graph */
    #technical-graph { width: 90%; height: 250px; margin-top: 0; margin-right: 23px;}
    #technical-graph .yaxisLabel { left: 30px !important; font-size: 12px;}


    /* Main graph */
    #fan-graph-container h1{ font-size: 20px; }
    .btn-compare p { font-size: 12px;}
    #fan-graph { height: 250px; width: 100%; }
    #fan-graph .yaxisLabel, #fan-graph .xaxisLabel { font-size: 11px;}
    #fan-graph .yaxisLabel { left: 40px !important;}
    #fan-graph-legend { margin-bottom: 20px; float: none; width: 100%; height: auto; margin-top: 15px; }
    #fan-graph-legend .legendLabel { padding: 0; }
    #fan-graph-legend .legendLabel a { font-size: 10px;}
    #fan-graph-legend tr { float: left; width: 50%; padding-bottom: 10px !important; margin-top: 15px !important; }
    #fan-graph-legend tr:nth-child(1) { margin-top: 20px; }
    #fan-graph-legend tr:not(:nth-child(1)) { padding-bottom: 20px; margin-top: 25px;}
    #fan-graph-legend .legendColorBox > div { margin-top: 0; padding-right: 10px !important; }
    #fan-graph-legend .xaxisLabel { font-size: 12px; }

    /* Compare data */
    .fancybox-wrap { width: 80% !important; left: 10% !important;}
    .fancybox-inner { width: 100% !important;}
    #compare-inputs label { width: 100%; }
    #compare-fans { margin-top: 30px; margin-left: 0;}
    #compare-fans h2 { font-size: 26px;}
    #graph-comparison { margin-left: 0;}
    .table-compare { margin-top: 30px; margin-left: 0;}

}

/*.forget-password-tooltip { display: none;}*/
/*.login-link:hover .forget-password-tooltip { display: block; }*/